.container-fluid{
    width: 100%;
    height: max-content;
    display: flexbox;
    
}

.bg-image{
    background-image: url("images/pexels-michael-burrows-7129403.jpg");
    height: 570px;
    width: 100% ;
    background-repeat: no-repeat ;
    background-size: 1350px 570px ;
    display: flexbox;
}

.container-fluid
{
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
.head 
{
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.head p
{
    font-size: 35px;
}
.head h3
{
    font-size: 60px;
}
.btn a
{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(131, 153, 4);
    color: black;
    border: white;
}
.btn a:hover
{
    color: rgb(72, 255, 0);
    background-color: rgb(7, 7, 7);
}



/* Food Menu Styling */

.food-menu-heading{
    text-align: center;
    margin-top: 3%;
    color: green;
    font-weight: 400;

}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 50px 0px;
}

.food-menu-container img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item{
    display: flexbox;
    margin-left: 25px;
    margin-bottom: 2%;
}

.food-name{
    margin-left: 10px;
}

.food-name .food-price{
    color: #117964;
    font-weight: 700;
}

.food-name .btn{
    height: 40px;
    width: 50%;
    background-color: rgb(131, 153, 4);
    color:white;
    border:black;
    
}

.food-name .amount{
    color: #117964;
    font-weight: 700;
}



/*bill css*/

.Order form{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 40%;
}

.container .product-amt{
    display: flex;
}

.container .price-indiv{
    display: flex;
    justify-content: space-between;
}

.container .total-amt{
    display: flex;
    justify-content: space-between;
}

.container .billbox{
    margin-top: 10%;
    margin-bottom: 10%;
}

.Order .sub-heading {
    margin-top: 20%;
    text-align: center;
}

.Order .heading {
    text-align: center;
}

 





